body {
    /* background-color: #AAAAAA; */
    background-image: url('');
}

.main-page {
    /* display: flex; */
    text-align: center;
    /* justify-content: space-around; */
}

.btn-clear {
    width: 90px;
    height: 20px;
    background-color: #FF78A6;
    margin-bottom: 30px;
}

.btn-full-character {
    width: 220px;
    height: 50px;
    background-color: #D48AFF;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}

.btn-feature {
    width: 130px;
    height: 30px;
    background-color: white;
    margin-bottom: 10px;
}

.all-features-div {
    column-count: 3;
}


.category {
    margin-bottom: 20px;
}

#footer {
    height: 100px;
    display: inline-block;
    width: 100vw;
    text-align: center;
    margin-top: 50px;
}