body {
    background-image: url('./images/dnd\ scroll\ w\ grid.jpg');
    background-size: cover;
}

.main-page {
    text-align: center;
}

.header {
    color: #FFFAD1;
}

.btn-clear {
    width: 90px;
    height: 20px;
    background-image: url(images/grid4.jpg);
    margin-bottom: 30px;
}

.btn-full-character {
    width: 220px;
    height: 50px;
    /* background-color: #CC8D48; */
    background-image: url(images/grid5.jpg);
    color: #FFFAD1;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.btn-feature {
    width: 130px;
    height: 30px;
    /* background-color: white; */
    background-image: url(images/grid6.jpg);
    margin-bottom: 10px;
    font-weight: bold;
}

.all-features-div {
    column-count: 3;
}

.feature-display {
    font-weight: bold;
    text-align: center;
    width: 300px;
    /* background-image: url(images/grid4.jpg); */
    background-color: #FFFAD1
}

.category {
    margin-bottom: 20px;   
}

#footer {
    height: 100px;
    display: inline-block;
    width: 100vw;
    text-align: center;
    margin-top: 50px;
}